// Scaffolding
$font-family: Lato, Helvetica, Arial, sans-serif;

// Media
$media-tablet-size: 768px;

// Body
$body-bg-color-gradient-top: #1f8cd2;
$body-bg-color-gradient-bottom: #45aff1;
$body-color-text: #fff;

// Colour Palette
$colour-palette-button-border-radius: 5px;
$colour-palette-button-color-bg: #287fb6;
$colour-palette-button-color-text: #fff;
$colour-palette-colour-list-width: 115px;
$colour-palette-gutter-width: 40px;

// Site Heading
$site-heading-font-size: 2em;
$site-heading-margin-vertical: 30px;
